@import  '../base/colors';
@import '../base/container';
@import '../base/typography';

footer {

    .footer-main-content {
        @include flexSectionWithColumn;

        .form-section {
            @include verticalPadding;
            @include halfContainer(50%);
            @include verticalPaddingAllScreens;

            border-right: 1px solid $whiteColor;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title-wrap {
                @include textPadding;
        
                h4 {
                    @include text-style(700);
                    color: $orangeTxt;
                    padding-bottom: 1.5rem;
                }
            
                p {
                    @include text-style(500);
                    color: $blankOrange;
                    font-size: 2.5rem;
                }

                p.price-block {
                    color: $orangeTxt;
                    font-size: 1.8rem;
                    padding-top: 1.5rem;
                }
            }
        }

        .image-wrap {
            @include leftImgStyle;
        }
    }
}

// form

form {
    & > *:nth-child(4){
        padding-top: calc(5.5vw + .4em);
        padding-top: -webkit-calc(5.5vw + .4em);
    }

    button {
        border: none;
        padding: 0;
    }

    .error-message {
        p {
            font-size: 1.5rem;
            color: $blankOrange;
        }
    }

    .success-message {
        margin-top: 20px;
        p {
            font-size: 1.7rem;
            color: $orangeTxt;
        }
    }
}

.form-btn {
    position: relative;
    background-color: $orangeBtns;
    cursor: pointer;
    height: 56px;
    
    .btn-text {
        display: flex;
        font-size: 1.4rem;
        height: 100%;
        color: $whiteColor;
        & > div {
            @include text-style(700);
            @include textTransform;
            width: calc(100% - 56px);
            margin: auto;
            text-align: center;
        }
        span {
            font-size: 3.5rem;
            position: relative;
            &::after {
                content: '';
                background: url("../images/form/Rodyklyte.svg") no-repeat;
                object-fit: contain;
                object-position: center;
                display: block;
                position: absolute;
                height: 100%;
                width: calc(100% - 8px);
                top: calc(50% - 5px);
                left: 4px;
            }   
        }
        & > img, & > span {
            width: 56px;
            padding: 1rem;
            border-left: 1px solid rgba(206, 132, 173, .5);
            box-shadow: $orangeShadow;
        }
    }
}



.input-wrap {
    @include flexSectionWithColumn;
    display: flex;
    flex-wrap: wrap;
    & > * {
        width: 100%;
        margin-top: 1.5vw;

        & > * {
            width: 100%;
        }
    }

    input {
        border: 0;
        border-bottom: 2px solid $formTxtGrey;
        padding: .4em 0;
        font-size: 2.5rem;
        font-weight: 300;
        outline: 0;
        color: $formTxtGrey;
        &::placeholder {
            color: $formTxtGrey;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: $formTxtGrey;
        }
        &:-ms-input-placeholder {
            color: $formTxtGrey;
        }
    }
    input:focus {
        border-bottom-color: rgba(206, 132, 173, .5);
        box-shadow: 0 7px 10px -8px rgba(206, 132, 173, .5);
    }
}

.file-input {
    cursor: pointer;
    position: relative;

    input:disabled {
        background: #fff;
        width: 100%;
        cursor: pointer;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% -  1.5vw);
        height: -webkit-calc(100% -  1.5vw);
        opacity: 0;
        z-index: 10;
        left: 0;
        cursor: pointer;
    }
    &::after {
        content: '';
        background: url("../images/registration/savarzele.svg") no-repeat;
        background-size: 65%;
        background-position: center;
        display: block;
        position: absolute;
        height: calc(100% -  1.5vw);
        height: -webkit-calc(100% -  1.5vw);
        width: 56px;
        bottom: 0;
        right: 0;
        background-color: $btnGrey;
        cursor: pointer;
    }   

    .file-name {
        position: absolute;
        bottom: -24px;
        color: $btnGrey;
        font-size: 1.8rem;
        right: 0
    }
}

footer {
    .map-section {
        @include flexSectionWithColumn(40rem);

        #map {
            height: 50vh;
            min-height: 40rem;
            // -webkit-filter: grayscale(100%);
            // filter: grayscale(100%);    
            // filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
            & > div {
                position: relative !important;
            }
        }
    
        .contacts-section {
            @include gradientMixin($fourthGradient);
            border-right: 1px solid $whiteColor;
            width: 100%;
            & > div {
                @include orangeTextContainerFlex;
                align-items: center;
            }
            p {
                @include text-style(700); 
                text-align: center;
            }

            a > p {
                margin-bottom: .2em;
            }
        }
    }
}

@media (min-width: 1387px){

    .input-wrap {
        justify-content: space-between;
        & > * {
            width: calc(50% - 40px);
            width: -webkit-calc(50% - 40px);
            min-width: 26.3rem;
        }
    }

    .input-wrap:nth-child(2) {
        flex-direction: column;
        align-items: flex-end;
    
        & > * {
            width: -webkit-calc(50% - 20px);
        }
    }
}

@media (max-width: 904px) {
    .input-wrap {
        justify-content: space-between;
        flex-direction: row;
        & > * {
            width: calc(50% - 40px);
            width: -webkit-calc(50% - 40px);
            min-width: 26.3rem;
        }

    }

    .image-wrap {
        overflow: visible;
        img {
            position: relative;
        }
    }

}

@media (min-width: 905px) {
    footer {
        .map-section {
            #map {
                height: auto !important;
            }

            .contacts-section {
                width: 50%;
            }
        }
    }
}

@media (max-width: 610px) {
    .input-wrap {
        justify-content: space-between;
        flex-direction: column;
        & > * {
            width: 100%;
        }

    }

} 
