@import '../base/colors';
@import '../base/typography';
@import '../base/container';

header {
    position: relative;
    .logoWrap {
        position: absolute;
        background-color: $whiteColor;
        padding: calc(.9em + 14px) .9em;
        text-align: center;
        right: 3.5vw;
        bottom: -2vw;
        img {
            max-width: 100%;
        }
    }

    .main-content {
        @include flexSectionWithColumn;
        @include backgroundHeight(40vw);
  
        .introduction-section  {
            @include gradientMixin($firstGradient);
            border-right: 1px solid $whiteColor;
            & > div {
                @include orangeTextContainerFlex;
            }
        }

        .video-wrap {
            @include leftImgStyle;
        }
    }

    h3 {
        @include text-style(500);
    }

    h2 {
        @include text-style(700);
    }

    ul {
        padding-left: 0;

        li {
            position: relative;
            padding-left: 50px;

            p {
                @include text-style(300);
            }
        }

        li:not(:nth-child(3)) {
            margin-bottom: 10px;
        }
    }
   
    li::before {
        content: '✓';
        position: absolute;
        display: block;
        font-size: 3rem;
        left: 0;
        margin-top: -5px;
    }
}

@media (min-width: 905px){

    header {
        position: relative;
        .logoWrap {
            margin-top: 3.5vw;
            margin-left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            right: auto;
            bottom: auto;
        }
    }
}

@media (max-width: 560px) {

    header {
        video {
            transform: translateX(-15%);
            -webkit-transform:translateX(-15%);
            -moz-transform:translateX(-15%);
            -ms-transform: translateX(-15%);
            -o-transform: translateX(-15%);
        }
    }
}

@media (max-width: 400px) {

    header {
        video {
         
            transform: translateX(-20%);
            -webkit-transform:translateX(-20%);
            -moz-transform:translateX(-20%);
            -ms-transform: translateX(-20%);
            -o-transform:  translateX(-20%);
        }
    }
}

@media (max-width: 400px) {

    header {
        video {
            transform: translateX(-30%);
            -webkit-transform: translateX(-30%);
            -moz-transform:  translateX(-30%);
            -ms-transform:  translateX(-30%);
            -o-transform:  translateX(-30%);
        }
    }
}